NODE_ENV=production
APP_ENV=production

NEXT_PUBLIC_APP_NAME=DijiPeople

NEXT_PUBLIC_APP_ORIGIN=https://dijipeople.com
NEXT_PUBLIC_LANDING_APP_URL=https://www.dijipeople.com
NEXT_PUBLIC_WEB_APP_URL=https://dijipeople.com
NEXT_PUBLIC_ADMIN_APP_URL=https://admin.dijipeople.com

NEXT_PUBLIC_API_BASE_URL=https://api.dijipeople.com/api
API_BASE_URL=https://api.dijipeople.com/api
API_ORIGIN=https://api.dijipeople.com

NEXT_PUBLIC_TENANT_ROOT_DOMAIN=dijipeople.com