NODE_ENV=production
NEXT_PUBLIC_APP_NAME=DijiPeople
NEXT_PUBLIC_APP_ORIGIN=https://diji-people-landing.vercel.app
NEXT_PUBLIC_LANDING_APP_URL=https://diji-people-landing.vercel.app
NEXT_PUBLIC_WEB_APP_URL=https://diji-people-web.vercel.app
NEXT_PUBLIC_ADMIN_APP_URL=https://diji-people-admin.vercel.app
NEXT_PUBLIC_API_BASE_URL=https://dijipeople.onrender.com/api
API_BASE_URL=https://dijipeople.onrender.com/api
API_ORIGIN=https://dijipeople.onrender.com
