NODE_ENV=development
NEXT_PUBLIC_APP_NAME=DijiPeople
NEXT_PUBLIC_APP_ORIGIN=http://localhost:3000
NEXT_PUBLIC_LANDING_APP_URL=http://localhost:3000
NEXT_PUBLIC_WEB_APP_URL=http://localhost:3001
NEXT_PUBLIC_ADMIN_APP_URL=http://localhost:3002
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api

API_BASE_URL=http://localhost:4000/api
API_ORIGIN=http://localhost:4000
